body {
    font-family: 'Anton', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #FA9CD5;
    color: #86F7F2;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50pt;
}

header {

    text-align: center;
}

#hero, footer {
    color: #B4B1E0;
    background-color: #C0FAA7;
    text-align: center;
    padding: 10px;
}

#bio {
    text-align: center;
}