body {
    font-family: 'Anton', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #FA9CD5;
    color: #86F7F2;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align:center;
}

h1 {
    font-size: 40pt;
}

header {

    text-align: center;
}

/* Hero Section */

#hero,
footer {
    color: #B4B1E0;
    background-color: #C0FAA7;
    text-align: center;
    padding: 10px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbie Section */

#hobbies ul li:nth-child(even) {
    color: #010101
}

/* Gallery Section */

#gallery {
border: 2px solid #C0FAA7;
}

#gallery img { 
    max-width:100%;
}

#gallery figure {
    text-align:center;


}